.Message {
    background-color: lime;
    width: 180px;
}

footer {
    text-decoration: underline;
    font-size: 15px;
}

header {
    text-align: right;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: overline;
}